*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

my-simulations/temp-anim.xml
test.xml
.vscode/c_cpp_properties.json
.vscode/settings.json
test.xml
out-anim.xml
out-flow.xml
